@page "/wallets"
@using BM2.Shared.DTOs
@using BM2.Client.Components
@rendermode InteractiveAuto

<h3>Wallets</h3>

<MudButton @onclick="OpenAddWalletDialogAsync"
           Variant="Variant.Filled"
           Color="Color.Primary">
    Add wallet
</MudButton>

<MudDataGrid T="WalletDTO" Items="@WalletList">
    <Columns>
        <PropertyColumn Title="Name" Property="x => x.WalletName"/>
        <PropertyColumn Title="Is active" Property="x => x.IsActive">
            <CellTemplate>
                <IsActiveGridIcon IsActive="context.Item.IsActive"/>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Currency" Property="x => x.DefaultCurrency" SortBy="x => x.DefaultCurrency!.Name">
            <CellTemplate>
                @context.Item.DefaultCurrency?.ToString()
            </CellTemplate>
        </PropertyColumn>
    </Columns>
</MudDataGrid>
